.h2__contact {
  text-align: center;
  color: #210ef8;
}
.container {
  padding: 10px;
  margin: 20px;
}

.demiColonneR {
  width: 45%;
  float: right;
}

.demiColonneL {
  width: 45%;
  float: left;
}

label,
input,
textarea {
  color: #210ef8;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  font-size: 1.6em;
}

.email {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.checkbox {
  display: flex;
  text-align: center;
  margin: 20px auto;
}

.click {
  font-size: 1em;
  background-color: blueviolet;
  color: hsl(39, 91%, 71%);
  border-radius: 5rem;
  padding: 0.5em;
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  box-shadow: 0 0.5em;
}

.click:hover {
  box-shadow: 0.1em 0.3em #261711;
  transform: translateY(3px);
}

.click:active {
  background-color: #90755d;
  color: #261711;
  box-shadow: 0 0.1em;
  transform: translateY(7px);
}

form {
  width: 50%;
}

@media screen and (max-width: 400px) {
  form {
    width: 80%;
  }
}
input,
textarea {
  height: auto;
}
