.h2__contact {
  text-align: center;
  color: hsl(323,100%,50%);
  padding-top: 20px;
  font-size: 2rem;
}

.container__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__page {
  display: block;
  align-items: center;
  justify-content: center;

}
.container {
  padding: 10px;
  margin: 20px;

}

.demiColonneR {
  width: 45%;
  float: right;
}

.demiColonneL {
  width: 45%;
  float: left;
}

label,
input,
textarea {
  color: hsl(323,100%,50%);
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  font-size: 2em;
  padding: 10px;
}

.email {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.checkbox {
  display: flex;
  text-align: center;
  margin: 20px auto;
}

.subscribe {
  font-weight: 3rem;
  font-weight: bolder;
  text-decoration: underline;
  padding-top: 6px;
}

/* .click:hover {
  box-shadow: 0.1em 0.3em #261711;
  transform: translateY(3px);
} */

.btn__music:active {
  background-color: #90755d;
  color: #261711;
  box-shadow: 0 0.1em;
  transform: translateY(7px);
}

form {
  display: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 20px;
  border-radius: 10px;
  border: 1px solid hsl(323,100%,50%);
  box-shadow: 10px 5px hsl(323,100%,50%);

}

.btn__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  form {
    width: 80%;
  }
}
input,
textarea {
  height: auto;
}
