@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap%27");

.nav {
  list-style: none;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-flow: column;
  background-color: #2a2e33;
  color: #e93e3a;
  border: solid;
  border-radius: 15px;
  position: absolute;
  width: fit-content;
  top: 45px;
}

.nav li {
  margin-bottom: 25px;
  color: white;
  text-align: justify;
  font-size: 1.2rem;
  width: 100%;
  font-family: "Megrim", cursive;
  padding-right: 15px;
}

.navLink-burgerMenu {
  text-decoration: none;
  color: white;
}

.active {
  color: blue;
}

.navLink-burgerMenu:hover {
  color: red;
  transition: all 0.3s linear;
}
