@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.footer {
    background-image: url('/src/assets/montagne.png');
    text-align: center;
    height: 20vh ;
    background-size: 120% 100%;
    color: white;
    filter: drop-shadow(15px -20px 25px #9B3AE8);
    bottom: 0;
}

.h3__footer {
  font-size: 18px;
  padding-top: 110px;
  font-weight: bold;
  font-family: 'Megrim', cursive;
}

  @media screen and (min-width: 1380px) {
    .footer {
      background-image: url('/src/assets/montagne.png');
      text-align: center;
      position: static;
      height: 50vh;
      background-size: 110% 110%;
      color: white;
      margin-top: -50vh;
      box-sizing: content-box;
      filter: drop-shadow(15px -20px 25px #9B3AE8);
      animation: move1 1s infinite;
     }

     .h3__footer {
      font-size: 60px;
      padding-top: 550px;
      font-weight: bold;
      font-family: 'Megrim', cursive;
    }

   
  }





